[Desktop Entry]
Name=Kuickshow
Name[ar]=عرض سريع
Name[fr]=Afficheur d'images
Name[hu]=Kuickshow képnézegető
Name[ko]=K퀵쇼
Name[sl]=Pregledovalnik slik Kuickshow
Name[xx]=xx
Name[zu]=I Kuickshow
Exec=kuickshow %i %m -caption "%c"
Icon=kuickshow
Type=Application
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/bmp;image/png;image/x-png;image/tiff;image/x-xcf;image/x-bmp;image/x-psd;image/x-eim;
DocPath=kuickshow/index.html
Terminal=0
InitialPreference=6

Comment=A very fast imageviewer
Comment[ar]=عارض صور سريع
Comment[az]=Cəld rəsm nümayişçisi
Comment[bs]=Veoma brz preglednik slika
Comment[cs]=Rychlý prohlížeč obrázků
Comment[da]=En meget hurtig billedfremviser
Comment[de]=Ein sehr schneller Bildbetrachter
Comment[es]=Un visor rápido de imágenes
Comment[eu]=Irudi Ikusgailua oso lasterra
Comment[fr]=Un afficheur d'images très rapide
Comment[he]=מציג תמונות מהיר מאוד
Comment[hu]=Egy nagyon gyors képnézegető
Comment[ko]=아주 빠른 그림 보기
Comment[lv]=Ļoti ātrs attēluskatītājs
Comment[nl]=een zeer snelle afbeeldingenviewer
Comment[pt]=Um visualizador de imagens muito rápido
Comment[pt_BR]=visualizador de imagens
Comment[sk]=Veľmi rýchly prehliadač obrázkov
Comment[sl]=Zelo hiter pregledovalnik slik
Comment[sv]=En väldigt snabb bildvisare
Comment[tr]=Çok hızlı bir resim görüntüleyici
Comment[xh]=Umboniseli womfanekiso okhawuleza kakhulu
Comment[xx]=xx
Comment[zh_TW]=快速的圖片瀏覽工具
Comment[zu]=umbonisi womfanekiso osheshisayo
X-DCOP-ServiceType=Multi
