[Desktop Entry]
Name=Kuickshow
Name[af]=Vinnig-vertoon
Name[ar]=عرض سريع
Name[eo]=Rapidmontrilo
Name[fr]=KuickShow
Name[hi]=क्विक-शो
Name[it]=KuickShow
Name[ko]=K퀵쇼
Name[ne]=क्विकशो
Name[pt_BR]=KRápida Exibição
Name[ta]=விரைவுகாட்சி
Name[th]=ดูภาพด่วน - K
Name[ven]=Musumbedzo wa kuick
Name[zh_TW]=Kuickshow 快秀
Name[zu]=I Kuickshow
Exec=kuickshow %i %m -caption "%c" %U
Icon=kuickshow
Type=Application
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/png;image/tiff;image/x-bmp;image/x-psd;image/x-eim;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-greymap;
DocPath=kuickshow/index.html
Terminal=false
InitialPreference=6

GenericName=Image Viewer
GenericName[af]=Beeld Aansig
GenericName[ar]=عارض صور
GenericName[bg]=Преглед на изображения
GenericName[br]=Gweler ar skeudennoù
GenericName[bs]=Preglednik slika
GenericName[ca]=Visualitzador d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[cy]=Gwelydd Delweddau
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολέας εικόνων
GenericName[eo]=Bildorigardilo
GenericName[es]=Visor de imágenes
GenericName[et]=Pildifailide näitaja
GenericName[eu]=Irudi ikustailua
GenericName[fa]=مشاهده‌گر تصویر
GenericName[fi]=Kuvannäytin
GenericName[fr]=Afficheur d'images
GenericName[ga]=Amharcán Íomhánna
GenericName[gl]=Visor de imaxes
GenericName[he]=מציג תמונות
GenericName[hi]=छवि प्रदर्शक
GenericName[hr]=Preglednik slika
GenericName[hu]=Képnézegető
GenericName[is]=Myndaskoðari
GenericName[it]=Visore di immagini
GenericName[ja]=画像ビューア
GenericName[kk]=Кескіндерді қарау
GenericName[km]=កម្មវិធី​មើល​រូបភាព
GenericName[lt]=Paveikslėlių žiūriklis
GenericName[lv]=Attēlu Skatītājs
GenericName[ms]=Paparan Imej
GenericName[mt]=Werrej tal-istampi
GenericName[nb]=Bildefremviser
GenericName[nds]=Bildkieker
GenericName[ne]=छवि दर्शक
GenericName[nl]=Afbeeldingenweergaveprogramma
GenericName[nn]=Biletvisar
GenericName[nso]=Molebeledi wa Ponagalo
GenericName[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka obrazków
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Visualizador de Imagens
GenericName[ro]=Vizualizor de imagini
GenericName[ru]=Просмотр изображений
GenericName[rw]=Mugaraza Shusho
GenericName[se]=Govvačájeheaddji
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Pregledovalnik slik
GenericName[sr]=Приказивач слика
GenericName[sr@Latn]=Prikazivač slika
GenericName[sv]=Bildvisare
GenericName[ta]=பிம்ப காட்சி
GenericName[tg]=Намоиши тасвирот
GenericName[th]=เครื่องมือแสดงภาพ
GenericName[tr]=Resim Göstericisi
GenericName[uk]=Переглядач зображень
GenericName[uz]=Rasm koʻruvchi
GenericName[uz@cyrillic]=Расм кўрувчи
GenericName[ven]=Tshivhoni tsha Mutaleli
GenericName[wa]=Håyneu d' imådjes
GenericName[xh]=Umboniseli Womfanekiso
GenericName[zh_CN]=图片查看程序
GenericName[zh_HK]=圖像檢視器
GenericName[zh_TW]=影像檢視程式
GenericName[zu]=Umbonisi Womfanekiso
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Graphics;
