[Desktop Entry]
Encoding=UTF-8
Name=Kuickshow
Name[x-test]=xxKuickshowxx
Exec=kuickshow -caption "%c" %U
Icon=kuickshow
Type=Application
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/png;image/tiff;image/x-bmp;image/x-psd;image/x-eim;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-greymap
DocPath=kuickshow/index.html
Terminal=false
InitialPreference=6

GenericName=Image Viewer
GenericName[x-test]=xxImage Viewerxx
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Graphics;
