[Desktop Entry]
Name=Kuickshow
Name[be]=Kuickshow
Name[bg]=Kuickshow
Name[bs]=Kuickshow
Name[ca]=Kuickshow
Name[ca@valencia]=Kuickshow
Name[cs]=Kuickshow
Name[da]=Kuickshow
Name[de]=Kuickshow
Name[el]=Kuickshow
Name[en_GB]=Kuickshow
Name[eo]=Kuickshow
Name[es]=Kuickshow
Name[et]=Kuickshow
Name[fi]=Kuickshow
Name[fr]=Kuickshow
Name[ga]=Kuickshow
Name[gl]=Kuickshow
Name[he]=Kuickshow
Name[hi]=क्विकशो
Name[hne]=क्विकसो
Name[hr]=Kuickshow
Name[hu]=Kuickshow
Name[is]=Kuickshow
Name[it]=Kuickshow
Name[ja]=Kuickshow
Name[km]=Kuickshow
Name[ko]=Kuickshow
Name[ku]=Kuickshow
Name[lt]=Kuickshow
Name[lv]=Kuickshow
Name[ml]=ക്വിക്ക്ഷോ
Name[mr]=क्विकशो
Name[ms]=Kuickshow
Name[nb]=Kuickshow
Name[nds]=Kuickshow
Name[nl]=Kuickshow
Name[nn]=Kuickshow
Name[pa]=ਕੇ ਤੁਰੰਤ-ਵੇਖੋ
Name[pl]=Kuickshow
Name[pt]=Kuickshow
Name[pt_BR]=Kuickshow
Name[ro]=Kuickshow
Name[ru]=Kuickshow
Name[sk]=Kuickshow
Name[sl]=Kuickshow
Name[sv]=Kuickshow
Name[th]=ดูภาพด่วน-K
Name[tr]=Kuickshow
Name[ug]=Kuickshow
Name[uk]=Kuickshow
Name[vi]=Kuickshow
Name[x-test]=xxKuickshowxx
Name[zh_TW]=Kuickshow
Exec=kuickshow -qwindowtitle %c %U
Icon=kuickshow
Type=Application
# TODO: What is image/x-eim? Register it to freedesktop.org if you need it
MimeType=image/gif;image/x-xpixmap;image/x-xbitmap;image/jpeg;image/png;image/tiff;image/bmp;image/x-psd;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-graymap;
DocPath=kuickshow/index.html
Terminal=false
InitialPreference=6

GenericName=Image Viewer
GenericName[be]=Праглядчык відарысаў
GenericName[bg]=Преглед на изображения
GenericName[bs]=Pregled slika
GenericName[ca]=Visor d'imatges
GenericName[ca@valencia]=Visor d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολέας εικόνων
GenericName[en_GB]=Image Viewer
GenericName[eo]=Bildorigardilo
GenericName[es]=Visor de imágenes
GenericName[et]=Pildinäitaja
GenericName[eu]=Irudi-ikustailea
GenericName[fi]=Kuvankatselin
GenericName[fr]=Afficheur d'images
GenericName[ga]=Amharcán Íomhánna
GenericName[gl]=Visor de imaxes
GenericName[he]=מציג תמונות
GenericName[hi]=छवि प्रदर्शक
GenericName[hne]=फोटू प्रदर्सक
GenericName[hr]=Preglednik slika
GenericName[hu]=Képmegjelenítő
GenericName[is]=Myndskoðari
GenericName[it]=Visore di immagini
GenericName[ja]=画像ビューア
GenericName[km]=កម្មវិធី​មើល​រូបភាព
GenericName[ko]=그림 뷰어
GenericName[ku]=Nîşanderê Wêneyan
GenericName[lt]=Paveikslėlių žiūryklė
GenericName[lv]=Attēlu skatītājs
GenericName[ml]=ചിത്ര ദര്‍ശിനി
GenericName[mr]=प्रतिमा प्रदर्शक
GenericName[ms]=Pelihat Imej
GenericName[nb]=Bildeviser
GenericName[nds]=Bildkieker
GenericName[nl]=Afbeeldingviewer
GenericName[nn]=Biletvisar
GenericName[oc]=Visualizaira d'imatges
GenericName[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka obrazków
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Visualizador de imagens
GenericName[ro]=Vizualizator de imagini
GenericName[ru]=Программа просмотра изображений
GenericName[sk]=Prezerač obrázkov
GenericName[sl]=Pregledovalnik slik
GenericName[sv]=Bildvisare
GenericName[th]=เครื่องมือดูภาพ
GenericName[tr]=Resim Gösterici
GenericName[ug]=سۈرەت كۆرگۈ
GenericName[uk]=Переглядач зображень
GenericName[vi]=Bộ xem ảnh
GenericName[x-test]=xxImage Viewerxx
GenericName[zh_CN]=图像查看器
GenericName[zh_TW]=影像檢視器
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Graphics;
